* {
  box-sizing: border-box;
  font-family: sans-serif;
}

button, i {
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
}

#Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2% 5% 0 5%;
}

#brand {
  padding: 0;
}

#logo {
  width: 80px;
}

#nav-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  gap: 5%;
  width: 100%;
  justify-content: center;
  font-size: 1.7vw;
  margin: 0;
}

.nav a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

#meals {
  display: flex;
  flex-wrap: wrap;
  padding: 5%;
  justify-content: space-between;
  background-color: burlywood;
}

.meal-card {
  width: 30%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid;
  border-radius: 20%;
  padding: 2%;
  background-color: bisque;
}

.meal-thumbnail, 
.meal-thumbnail img {
  width: 100%;
  border-radius: 20%;
}

.meal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}

.likeButton {
  color: cornflowerblue;
  cursor: pointer;
}

.meal-description {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 0 10px;
}

.meal-name {
  margin: 0;
  font-size: large;
  font-weight: 600;
}

.like-count {
  margin-left: auto;
}

.meal-comment {
  border: solid;
  padding: 10px;
  font-size: large;
  background-color: burlywood;
  font-weight: 600;
}

#popup {
  overflow-y: auto;
  position: fixed;
  background-color: blanchedalmond;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#popup-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: larger;
  font-weight: 600;
}

#popup-thumbnail {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#popup-close {
  font-size: xx-large;
}

#popup-thumb {
  width: 40%;
  margin: 0 auto;
}

#popup-desc {
  display: grid;
  grid-template-columns: auto auto;
  gap: 50px;
  width: 100%;
  padding: 0 20%;
}

#popup-desc div {
  display: flex;
  align-items: center;
  gap: 2%;
}

#popup-responses {
  width: 100%;
  padding: 0 20%;
}

.header {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

#popup-add-response {
  width: 100%;
  padding: 0 20%;
}

.popup-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 50%;
}

.form-submit {
  width: fit-content;
  font: large;
  font-weight: 600;
}

@media screen and (min-width: 300px) and (max-width: 600px) {
  #meals {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    justify-content: center;
    padding: 0;
  }
  
  .meal-card {
    border: solid;
    margin-top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 0%;
  }
  
  .meal-thumbnail, 
  .meal-thumbnail img {
    width: 100%;
    border-radius: 0%;
  }
  
  .meal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }
  
  .meal-description {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    justify-content: center;
  }

  .likeButton {
    margin-right: 10px;
  }
  
  .meal-name {
    margin: 0;
    font-size: small;
  }
  
  .like-count {
    margin-left: auto;
  }
  
}


