* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#Navbar {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: solid;
  padding: 0;
}

#brand {
  padding: 0;
  border: solid;
}

#logo {
  width: 20px;
}

#nav-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  gap: 5%;
  width: 100%;
  justify-content: center;
  font-size: 1.7vw;
  margin: 0;
}